@defaultFont: 'Roboto';
@viewPadding: 20px;

.thinFont {
  font-family: @defaultFont, sans-serif;
  font-weight: 100;
}
.normalFont {
  font-family: @defaultFont, sans-serif;
  font-weight: 300;
}
.boldFont {
  font-family: @defaultFont, sans-serif;
  font-weight: bold;
}

.scrolling {  // momentum scrolling
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
html {
  height: 100%;
  width: 100%;
  .normalFont;
}

.invisibleButton {
  border: 0 solid transparent!important;
  background: 0 0!important;
  border-radius: 0!important;
  margin: 0!important;
  font-family: Roboto,sans-serif;
  font-weight: 300;
  color: #fff;
  padding: 0!important;
}

.viewContainer {

}